<section>
    <div class="bodyContacto">
        <div class="contactoLeft">
        <h3>¡Descubre el frescor en cada sorbo con nuestra irresistible bebida de sandía!</h3>
        <p>Sumérgete en un oasis de sabor con nuestra exquisita bebida de sandía. Cada gota destila la esencia refrescante y jugosa de esta deliciosa fruta de verano.

            Nuestra bebida de sandía está elaborada cuidadosamente con sandías maduras y jugosas, seleccionadas especialmente para brindarte un sabor inigualable. 
            <br> 
            Cada sorbo es como un beso de sol en tus labios, transportándote a una playa paradisíaca en cada momento.
            
            Imagina deleitarte con el dulzor natural de la sandía, acompañado de una suave brisa veraniega acariciando tu rostro. Nuestro equipo de expertos ha creado la combinación perfecta, equilibrando a la perfección el sabor dulce y refrescante de la sandía con un toque cítrico que hará vibrar tus papilas gustativas.
            <br>
           
          </p>
    </div>
        <img src="../../assets/img/bebida.png" alt="" class="bebida">
   
    </div>
   </section >